
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background-color: whitesmoke;
}

#contact-form-container {
    height: 100%;
    width: 450px; 
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: rgba(244, 240, 236, 0.9);
    border-right: 2px groove #404040; 
    padding-top: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#error-message, #confirm-delete {
    margin: 24px;
    border: 2px solid #ff0000;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    color: #ff0000;
    background-color: rgba(255, 230, 230, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;    
}

#contact-form input {
    padding: 12px;
    margin: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

#contact-form input:focus {
    border-color: #008080;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 128, 128, 0.5);
}

#contact-form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#add-btn, #save-btn {
    cursor: pointer;
    background-color: rgba(0, 128, 128, 0.9);
    color: white;
    border: none;
    padding: 12px;
    margin: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

#add-btn:hover, #save-btn:hover {
    background-color: rgba(16, 144, 144, 0.9);
    transform: translateY(-2px);
}

.address-container {
    position: absolute;
    top: 0; 
    width: 100%;
    margin-left: 440px;
}

h1 {
    background-color: #109090;
    margin: 0;
    padding: 28px;
    text-align: left;
    color: whitesmoke;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#search-bar {
    display: block;
    width: 680px;
    margin: 24px 0px 24px 24px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact-table {
    width: 68%;
    border-collapse: collapse;
    margin: 20px;
}

#contact-table thead {
    background-color: whitesmoke;
}

#contact-table th {
    background-color: #404040;
    color: white;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #dddd;
}

#contact-table tbody {
    background-color: whitesmoke;
}

#contact-table td {
    padding: 12px;
    border-bottom: 1px solid #dddd; 
}

#contact-list {
    max-width: 600px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 
